
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>SORTED LIST OF NUMBERS</h1>
    <br />
    <div>
        @foreach (int num in ViewBag.Numbers)
        {
            Response.Write("Number: " + num + "<br />");
        }
    </div>
</body>
</html>
